<!DOCTYPE html>
<html>
<h1> Profile of <%= @client.name %>  </h1>

Portfolios:
<table class="table table-striped">
<% @client.portfolios.each do |portfolio| %>
<tr>
<td>
<%= portfolio.name %>
<td>
  <%= portfolio.stocks.map {|stock| stock.name }.join(", ") %>
<td>
  <a href="/edit_portfolio/<%= portfolio.id %>">Edit Portfolio</a>
<td>
  <a href="/delete_portfolio/<%= portfolio.id %>">Delete Portfolio</a>
<td>
  </tr>
<% end %>

</table>


<h1>New Portfolio</h1>
<form method="post" action="/new_portfolio">
    Portfolio Name:<input type="text" name="portfolio_name">

   <input type="hidden" name="client_id" value="<%= @client.id %>">
    <button>Save Portfolio</button>
</form>


</html>

